@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.JosefinSansFont {
  font-family: 'Josefin Sans', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#2b2b2b] tracking-wide
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-lg uppercase bg-[#af3a82] text-white JosefinSansFont
  }
}
.embla {
  position: relative;
  overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
  /* Ensure it has a defined width, potentially max-width of 100% to contain it within its parent */
  max-width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  /*min-height: 250px;*/
  box-sizing: border-box;
}

.embla__button {
  cursor: pointer;
}

.embla__dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.embla__dot {
  background-color: #ccc; /* Light grey color for dots */
  width: 10px; /* Dot width */
  height: 10px; /* Dot height */
  border-radius: 50%; /* Makes dots circular */
  margin: 0 5px; /* Spacing between dots */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.embla__dot.is-selected {
  background-color: #5a5a5a; /* Darker color for the selected dot */
}

.embla__dot:hover,
.embla__dot:focus {
  background-color: #5a5a5a; /* Darker shade for hover/focus states */
}